/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: raleway, arial, sans-serif;
  font-weight: 300;
  width: 95vw;
  margin: 0 auto 0 auto;
}

body h2 {
  font-size: 1.5em;
}

body h3 {
  font-size: 1.2em;
}

body h4 {
  font-size: 1em;
}

/* HEADER */
#nav {
  margin-top: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  min-width: 300px;
  width: 35vw;
  position: absolute;
  top: 0;
  right: 40px;
}

nav a {
  text-decoration: none;
  color: black;
  margin-top: 0px;
  padding-top: 30px;
  transition: 0.1s;
}

nav a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

nav a:nth-child(3) {
  color: #0065fc;
  font-weight: 600;
}

#headerP2 {
  margin-top: 50px;
  width: 95vw;
  margin-left: 0px;
  margin-bottom: 30px;
}

#headerP2 h1 {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 15px;
}

#headerP2 p {
  font-size: 15px;
}

#conteneur {
  width: 420px;
  height: 51px;
  display: flex;
  margin-bottom: 0px;
  margin-top: 17px;
  margin-left: 0px;
}

.button-L {
  border: 1px solid #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  background-color: #f2f2f2;
  width: 52px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-L a i {
  color: black;
}

.button-R {
  background-color: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0px 10px 10px 0px;
  color: white;
  font-size: 15px;
  height: 53px;
  width: 134px;
}

#button-R2 {
  display: none;
}

.champ-R {
  border: 1px solid #f2f2f2;
  font-size: 15px;
  font-weight: 600;
  height: 49px;
  width: 234px;
}

#formulaireville input {
  margin-top: 10px;
}

.champ-R::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black;
  padding-left: 17px;
}

.champ-R:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: black;
  opacity: 1;
  padding-left: 17px;
}

.champ-R::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: black;
  opacity: 1;
  padding-left: 17px;
}

.champ-R:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: black;
  padding-left: 17px;
}

.filtres {
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 950px;
}

#filt {
  font-weight: 600;
  padding-left: 0px;
  margin-top: 20px;
  float: left;
  margin-right: 30px;
}

.filtres a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  padding: 0px 20px 0px 0px;
  font-weight: 600;
}

#transition1 {
  transition: 1s;
  transition: transform 0.5s;
}

#transition1:hover {
  transform: scale(1.1) rotate(5deg);
  background-color: #deebff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.233);
}

#transition2 {
  transition: transform 0.5s;
  transition: 0.5s;
}

#transition2:hover {
  transform: scale(1.1) rotate(5deg);
  background-color: #deebff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.233);
}

#transition3 {
  transition: transform 0.5s;
  transition: 0.5s;
}

#transition3:hover {
  transform: scale(1.1) rotate(5deg);
  background-color: #deebff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.233);
}

#transition4 {
  transition: transform 0.5s;
  transition: 0.5s;
}

#transition4:hover {
  transform: scale(1.1) rotate(5deg);
  background-color: #deebff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.233);
}

.filtres a i {
  color: #0065fc;
  background-color: #deebff;
  height: 50px;
  width: 50px;
  border: 1px solid #deebff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

#deplacer-filtre {
  margin-top: 20px;
}

#info {
  margin-top: 35px;
}

#info a i {
  margin-right: 15px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  height: 18px;
  width: 18px;
  color: #0065fc;
  font-size: 10px;
}

.fas {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

#info p {
  padding-top: 2px;
}

.heberge2 {
  display: none;
}

.activite2 {
  display: none;
}

/* SECTION PART 1 */
#big1 {
  width: 95vw;
  height: 625px;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
}

#heberge-M {
  width: 62vw;
  min-width: 685px;
  height: 625px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#heberge-M h2 {
  margin: 45px 0 23px 45px;
}

#heberge-M > a {
  margin-top: 15px;
  margin-left: 45px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

#main-hotel {
  width: 60vw;
  min-width: 670px;
  height: 490px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

#main-hotel a {
  height: 200px;
  width: 18vw;
  min-width: 220px;
  background-color: white;
  border: 1px solid White;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.233);
}

#main-hotel a img {
  height: 114px;
  width: 16.8vw;
  min-width: 210px;
  object-fit: cover;
  margin-top: 5px;
  border: none;
  border-radius: 15px 15px 0px 0px;
}

.under-img {
  height: 100px;
  width: 100%;
}

.under-img h3 {
  margin-top: 5px;
  margin-left: 10px;
  color: black;
}

.under-img p {
  margin-top: 5px;
  margin-left: 10px;
  color: black;
}

.stars {
  margin-top: 5px;
  margin-left: 10px;
  color: #0065fc;
}

.euro {
  font-weight: 600;
}

.grey {
  color: #f2f2f2;
}

/* SECTION PART 1 SIDE */

aside {
  width: 30vw;
  height: 625px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title_side {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  margin-top: 45px;
}

#elements-side {
  width: 27vw;
  height: 498px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

#elements-side a {
  width: 100%;
  height: 150px;
  background-color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.233);
}

#elements-side a div img {
  width: 127px;
  height: 140px;
  object-fit: cover;
  border-radius: 15px 0px 0px 15px;
  padding: 3px 0px 0px 5px;
  margin-right: 20px;
}

.under-side-img {
  color: black;
  display: flex;
  flex-direction: column;
  margin-left: -15px;
}

.under-side-img h3 {
  padding-bottom: 5px;
}

.under-side-img p {
  margin-left: 0px;
  margin-bottom: -10px;
}

.under-side-img div {
  padding-top: 20px;
  margin-left: 0px;
}

/* SECTION PART 2 */
#big2 {
  margin-top: 50px;
}

#big2 h2 {
  margin-bottom: 20px;
}

#separate {
  height: 445px;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#separate a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#separate a img {
  border-radius: 15px 15px 0px 0px;
}

#separate a h3 {
  height: 30px;
  padding-top: 15px;
  padding-left: 20px;
}

#child1 img {
  height: 390px;
  width: 21.5vw;
  margin-top: -10px;
  object-fit: cover;
  min-width: 260px;
}

#child2 img {
  height: 181px;
  width: 21.5vw;
  object-fit: cover;
  min-width: 260px;
}

#child3 img {
  height: 109px;
  width: 21.5vw;
  object-fit: cover;
  min-width: 260px;
}

#child4 img {
  height: 390px;
  width: 21.5vw;
  object-fit: cover;
  min-width: 260px;
}

#child5 img {
  height: 140px;
  width: 21.5vw;
  object-fit: cover;
  min-width: 260px;
}

#child6 img {
  height: 153px;
  width: 21.5vw;
  object-fit: cover;
  min-width: 260px;
}

#child1 {
  height: 445px;
  width: 21.5vw;
}

#col1 {
  height: 445px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.233);
  min-width: 260px;
}

#col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 445px;
  min-width: 260px;
}

#col2A {
  display: none;
}

#col2B {
  display: none;
}
#col2 a {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.233);
}

#col2 a h3 {
  height: 35px;
}

#col3 {
  height: 445px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.233);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 21.5vw;
  min-width: 260px;
}

#col4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 445px;
  width: 21.5vw;
  min-width: 260px;
}

#col4A {
  display: none;
}

#col4B {
  display: none;
}

#col4 a {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.233);
}

#col4 a h3 {
  height: 35px;
}

/* FOOTER */

footer {
  height: 218px;
  width: 100vw;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
  padding-right: 20px;
  margin-top: 60px;
}

#footer {
  width: 90vw;
  height: 100%;
  margin-left: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer div h4 {
  margin-top: 49px;
}

#footer div p {
  margin-top: 19px;
}

/* TAILLE TABLETTE */

@media all and (max-width: 1024px) {
  /* HEADER */
  #filt {
    margin-top: 35px;
  }

  .filtres a {
    margin-top: 15px;
  }

  /* MAIN */
  #big1 {
    display: flex;
    flex-direction: column;
  }

  #heberge-M {
    width: 95vw;
    height: 1300px;
    min-width: 0px;
  }

  #main-hotel {
    width: 95vw;
    min-width: 0px;
  }

  #main-hotel a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 4px;
    height: 130px;
    width: 40vw;
  }

  #main-hotel a img {
    border-radius: 15px 0px 0px 15px;
    margin-top: 0px;
    height: 122px;
    width: 90%;
    min-width: 0px;
  }

  /* SIDE */
  aside {
    width: 95vw;
    height: 330px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #title_side {
    min-width: 250px;
  }

  #elements-side {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 0px;
    width: 100%;
  }

  #elements-side a {
    width: 30vw;
    height: 200px;
  }

  #elements-side a div img {
    width: 13vw;
    height: 190px;
  }

  .under-side-img {
    margin-left: -15px;
  }

  /* MAIN PART 2 */
  #big2 {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #big2 h2 {
    text-align: center;
    margin-right: 40px;
  }

  #separate {
    height: 445px;
    width: 70vw;
    min-width: 550px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 1000px;
    margin-bottom: -30px;
  }

  /* FOOTER */
  #footer {
    margin-left: 10px;
  }
}

/* TAILLE SMARTPHONE */
@media all and (max-width: 640px) {
  /* GENERAL */
  body {
    width: 95vw;
  }

  /* HEADER */
  #sign {
    position: absolute;
    right: 0px;
  }
  #flex-nav {
    width: 100vw;
    display: flex;
  }

  #header-P2 {
    width: 100vw;
  }

  #deplacer-filtre {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  #filt {
    margin-top: 0px;
  }

  .filtres {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    width: 85vw;
    margin-left: 0px;
    margin-top: 5px;
  }

  .activite1 {
    display: none;
  }

  .heberge1 {
    display: none;
  }

  .activite2 {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #f2f2f2;
    width: 100%;
    text-align: center;
    padding-bottom: 13px;
    transition: 1s;
  }

  .activite2:hover {
    border-bottom: 3px solid #0065fc;
  }

  .heberge2 {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #f2f2f2;
    width: 100%;
    text-align: center;
    padding-bottom: 13px;
    transition: 1s;
  }

  .heberge2:hover {
    border-bottom: 3px solid #0065fc;
  }

  #button-R {
    display: none;
  }

  #button-R2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #0065fc;
    border-radius: 15px;
    position: absolute;
    left: 270px;
  }

  #button-R2 a i {
    color: white;
  }

  .champ-R {
    border-right: none;
  }

  /* SECTION PART 1 */
  #big1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 2120px;
  }
  #heberge-M {
    height: 1450px;
    width: 100vw;
    background-color: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border: unset;
  }

  #heberge-M > a {
    font-size: 20px;
    text-align: left;
    align-self: flex-start;
  }
  #main-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1700px;
  }
  #main-hotel a {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 199px;
  }
  #main-hotel a img {
    height: 113px;
    width: 99%;
    border-radius: 15px 15px 0px 0px;
    margin: 5px 0 0 -4px;
  }

  /* SECTION PART 1 SIDE */
  aside {
    margin-bottom: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height: 610px;
    width: 100vw;
    border-radius: unset;
  }

  #elements-side {
    display: flex;
    flex-direction: column;
  }

  #elements-side a {
    width: 90vw;
    height: 144px;
  }

  #elements-side a div img {
    height: 134px;
    width: 30vw;
    min-width: 90px;
  }

  /* SECTION PART 2 */
  #big2 {
    margin-top: 50px;
    height: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #separate {
    min-width: 0px;
    width: 100vw;
    height: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  #separate a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #separate a img {
    border-radius: 15px 15px 0px 0px;
  }

  #separate a h3 {
    height: 30px;
    padding-top: 15px;
    padding-left: 20px;
  }

  #child1 img {
    height: 134px;
    width: 90vw;
    object-fit: cover;
  }

  #child2 img {
    height: 134px;
    width: 90vw;
    margin-top: -10px;
    object-fit: cover;
  }

  #child3 img {
    height: 134px;
    width: 90vw;
    margin-top: -10px;
    object-fit: cover;
  }

  #child4 img {
    height: 134px;
    width: 90vw;
    margin-top: -10px;
    object-fit: cover;
  }

  #child5 img {
    height: 134px;
    width: 90vw;
    margin-top: -10px;
    object-fit: cover;
  }

  #child6 img {
    height: 134px;
    width: 90vw;
    margin-top: -10px;
    object-fit: cover;
  }

  #child1 {
    height: 190px;
    width: 90vw;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.233);
  }

  #child2 {
    height: 190px;
    width: 90vw;
  }

  #child3 {
    height: 190px;
    width: 90vw;
  }

  #child4 {
    height: 190px;
    width: 90vw;
  }

  #child5 {
    height: 190px;
    width: 90vw;
  }

  #child6 {
    height: 190px;
    width: 90vw;
  }
  #col1 {
    height: 190px;
  }
  #col2 {
    display: none;
  }
  #col2A {
    display: flex;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.233);
  }
  #col2B {
    display: flex;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.233);
  }

  #col2 a h3 {
    height: 35px;
  }

  #col3 {
    height: 190px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.233);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
  }

  #col4 {
    display: none;
  }

  #col4A {
    display: flex;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.233);
  }

  #col4B {
    display: flex;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.233);
  }

  #col4 a {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.233);
  }

  #col4 a h3 {
    height: 35px;
  }
  /* FOOTER */
  footer {
    height: unset;
  }
  #footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  }
}
