/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

* {
    margin: 0 auto 0 auto;
}
body {
    font-family: raleway, arial, sans-serif;
    font-weight: 300;
    padding: 0px 50px 0px 50px;
    width: 1340px;
}

/* HEADER */
#nav {
    margin-top: 50px;
}
nav {
    float: right;
    display: flex;
    justify-content: space-between;
    width: 480px;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:first-child {
    color: #0065FC;
}
nav a:nth-child(3) {
    color: #0065FC;
    font-weight: 600;
}
#headerP2 {
    margin-top: 50px;
    width: 945px;
    float: left;
}
#headerP2 h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}
#headerP2 p {
    font-size: 15px;
}
#conteneur {
    width: 420px;
    height: 51px;
    display: flex;
    float: left;
    margin-bottom: 20px;
    margin-top: 17px;
}
.button-L {
    border: 1px solid #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    width: 52px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-L a i {
    color: black;
}
.button-R {
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: white;
    font-size: 15px;
    height: 53px;
    width: 134px;
}
.champ-R {
    border: 1px solid #F2F2F2;
    font-size: 15px;
    font-weight: 600;
    height: 49px;
    width: 234px;
}
#formulaireville input {
    margin-top: 10px;
}
.champ-R::-webkit-input-placeholder { /* WebKit browsers */
    color:    black;
    padding-left: 17px;
}
.champ-R:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   opacity:  1;
   padding-left: 17px;
}
.champ-R::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   opacity:  1;
   padding-left: 17px;
}
.champ-R:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    black;
   padding-left: 17px;
}
.filtres {
    height: 50px;
    margin-top: 30px;
    display: flex;
}
#filt {
    font-weight: 600;
    padding-left: 0px;
    margin-top: 20px;
    float: left;
    margin-right: 10px;
}
.filtres a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    padding: 0px 20px 0px 0px;
    font-weight: 600;
}
#transition1 {
    transition: 1s;
    transition: transform .5s;
}
#transition1:hover {
    transform: scale(1.1) rotate(5deg);
    background-color: #DEEBFF;
}
#transition2{
    transition: transform .5s;
    transition: .5s;
}
#transition2:hover {
    transform: scale(1.1) rotate(5deg);
    background-color: #DEEBFF;
}
#transition3{
    transition: transform .5s;
    transition: .5s;
}
#transition3:hover {
    transform: scale(1.1) rotate(5deg);
    background-color: #DEEBFF;
}
#transition4{
    transition: transform .5s;
    transition: .5s;
}
#transition4:hover {
    transform: scale(1.1) rotate(5deg);
    background-color: #DEEBFF;
}
.filtres a i {
    color: #0065FC;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border: 1px solid #DEEBFF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
#deplacer-filtre {
    margin-top: 100px;
}
#info {
    margin-top: 35px;
}
#info a i {
    margin-right: 15px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    height: 18px;
    width: 18px;
    color: #0065FC;
    font-size: 10px;
}
.fas {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
#info p {
    padding-top: 2px;
}

/* SECTION PART 1 */
#big1 {
    width: 1340px;
    height: 625px;
    padding-top: 0px;
    margin: 350px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}
#heberge-M {
    width: 880px;
    height: 625px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    float: left;
    margin-left: -15px;
}
#heberge-M h2 {
    margin: 45px 0 23px 45px;
}
#heberge-M > a {
    margin-top: 15px;
   margin-left: 45px;
   text-decoration: none;
   color: black;
   font-weight: 600;
}
#main-hotel {
    width: 820px;
    height: 490px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#main-hotel a {
    height: 200px;
    width: 246px;
    background-color: white;
    border: 1px solid White;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.151);
}
#main-hotel a img {
    height: 114px;
    width: 236px;
    object-fit: cover;
    padding-top: 5px;
    border: none;
    border-radius: 15px 15px 0px 0px;
}
.under-img {
    height: 80px;
    width: 236px;
}
.under-img h3 {
    margin-top: 5px;
    margin-left: 10px;
    color: black;
}
.under-img p {
    margin-top: 5px;
    margin-left: 10px;
    color: black;
}
.stars {
    margin-top: 5px;
    margin-left: 10px;
    color: #0065FC;
}
.euro {
    font-weight: 600;
}
.grey {
    color: #F2F2F2;
}

/* SECTION PART 1 SIDE */

aside {
    width: 420px;
    height: 625px;
    background-color: #F2F2F2;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
}
#title_side {
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin-top: 45px;
}
#elements-side {
    width: 343px;
    height: 498px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
}
#elements-side a {
    width: 343px;
    height: 144px;
    background-color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.151);
}
#elements-side a div img {
    width: 127px;
    height: 134px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
    padding: 3px 0px 0px 5px;
    margin-right: 20px;
}
.under-side-img {
    color: black;
    display: flex;
    flex-direction: column;
}
.under-side-img h3 {
    padding-bottom: 5px;
}
.under-side-img p{
    margin-left: 0px;
}
.under-side-img div {
    padding-top: 30px;
    margin-left: 0px;
}

/* SECTION PART 2 */

#big2 h2 {
    padding-top: 90px;
    padding-left: 5px;
}
#separate {
    height: 445px;
    width: 1385px;
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 20px;
}
#separate a {
    text-decoration: none;
    color: black;
}
#separate a img {
    border-radius: 15px 15px 0px 0px;
}
#separate a h3 {
    height: 30px;
    padding-top: 15px;
    padding-left: 20px;
}
#child1 img {
    height: 390px;
    width: 302px;
    object-fit: cover;
}
#child2 img {
    height: 181px;
    width: 302px;
    object-fit: cover;
}
#child3 img {
    height: 109px;
    width: 302px;
    object-fit: cover;
}
#child4 img {
    height: 390px;
    width: 302px;
    object-fit: cover;
}
#child5 img {
    height: 140px;
    width: 302px;
    object-fit: cover;
}
#child6 img {
    height: 153px;
    width: 302px;
    object-fit: cover;
}
#child1 {
    height: 445px;
    width: 302px;
}
#col1{
    height: 445px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.151);
}
#col2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 445px;
}
#col2 a {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.151);
}
#col2 a h3 {
    height: 35px;
}
#col3 {
    height: 445px;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.151);
}
#col4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 445px;
}
#col4 a {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.151);
}
#col4 a h3 {
    height: 35px;
}

/* FOOTER */

footer {
    margin-top: 60px;
    height: 218px;
    width: 100% !important;
    background-color: #F2F2F2;
}
#footer {
    width: 1137px;
    height: 125px;
    display: flex;
    justify-content: space-between;
    float: left;
}
#footer div h4 {
    margin-top: 49px;
}
#footer div p {
    margin-top: 19px;
}
